

server {
    listen 80;
    root /var/www/html;
    server_name ${HOST};
    rewrite     ^   https://$server_name$request_uri? permanent;
}


server {
    listen 443 ssl http2;
    root /var/www/html;
    server_name ${HOST};

    ## Access and error logs.
    access_log /var/log/nginx/${HOST}.access.log;
    error_log  /var/log/nginx/${HOST}.error.log;

    set $shopware_env 'local';

    ssl on;
    ssl_certificate ssl/${HOST}.crt;
    ssl_certificate_key ssl/${HOST}.key;
    ssl_session_cache shared:SSL:10m;
    ssl_session_timeout  10m;


    include global/shopware.conf;

}
